<div class="container">
  <br><br>
  <div class="row">
    <div class="col">
      <a href="/a2sip" class="border border-primary p-4 bg-primary text-light text-center d-block"> String Interpolation</a>
    </div>
    <div class="col">
      <a href="/a2pb" class="border border-primary p-4 bg-primary text-light  text-center d-block">Property Binding</a>
    </div>
    <div class="col">
      <a href="/a2evb" class="border border-primary p-4 bg-primary text-light  text-center d-block">Event Binding</a>
    </div>
  </div>
</div>

